<app-not-found [visible]="!car" notFoundMessage="Product Not Found!"
resetLinkText="Back To Homepage"></app-not-found>

<div *ngIf="car" class="container">
    <img [src]="car.imageUrl" [alt]="car.name" />
    
    <div class="details">
        <div class="header">
            <span class="name">
                {{car.name}}
            </span>
            <div class="favorite {{car.favorite?'':'not'}}">
                <img class="close-icon" src="/assets/icons/close.svg" alt="icon" routerLink="/home">
            </div>
        </div>
        <div class="rating">
            RATING
        </div>
    
        <div class="origins">
            <span *ngFor="let origin of car.origins">
                {{origin}}
            </span>
        </div>
    
        <div class="tags">
            <app-tags [carPageTags]="car.tags" justifyContent="start"></app-tags>
        </div>
    
        <div class="cook-time">
            <span>
                Time to cook about <strong>{{car.cc}}</strong> minutes
            </span>
        </div>
    
        <div class="price">
            <span>{{ car.price}} &euro;</span>
        </div>
        
        <button class="goFavs" (click)="addToCart()">Adicionar e ver</button>
        <button class="btnHome"  routerLink="/home">Sair</button>
    </div>
    
    </div>