header {
    height: 55px;
}
  
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
nav {
    display: flex;
    align-items: center;
 }
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
nav li {
    margin-left: 40px;
}
  
nav a {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: black;
    text-decoration: none;
}
  
nav a:hover {
    text-decoration: underline;
}
  
.logo {
    display: flex;
    color: black;
    font-size: 25px;
    font-family: 'Anton';
    letter-spacing: 0.5px;
    margin-bottom: 0px;
}
  
.container .logo {
    margin-right: auto;
}

.logo:hover {
    color: black;
    background-color: #c76161;
}
  