<section>
    <div class="container">

        <div class="box2 div6a9 row2">
        </div>
        <div class="box2 center div0a4 row2">
            <div class="item-text">
                <p>The power of going further</p>
                <h1>DRIVE OFF</h1>
                <button routerLink="/home" style="background-color:#03090B">Compra</button>
                <button style="background-color:#69859B">Venda</button>
                <span  class="arrow">&rarr; deslize para Sobre Nós</span>
            </div>
        </div>
        <div class="box center div5a9 row2">
            <div class="item-image">
                <img src="/assets/images/Homepage/carro2.svg" alt="Image">
            </div>
        </div>

        <!--<div class="box center div1a4 row2">
            <div class="item-h1">
                <h1>Sobre nós...</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Nunc ornare, leo at condimentum sodales, odio est consectetur erat, 
                eget congue urna nibh quis elit. Nam a est molestie metus rutrum suscipit. 
                In volutpat ipsum non ipsum auctor commodo. 
                Phasellus faucibus odio imperdiet scelerisque accumsan. 
                Maecenas id augue magna. Nam nec velit vel eros tristique tristique. 
                Nam pretium tortor sed nibh commodo, quis tincidunt mauris commodo. 
                Nam facilisis pharetra malesuada. Ut et auctor odio. 
                Maecenas facilisis nunc non quam facilisis, sed tristique velit mollis. 
                Mauris auctor ipsum nec pharetra sagittis. Aliquam bibendum lorem et luctus auctor. 
                Nulla facilisi. Quisque dapibus consectetur massa nec cursus. Nunc egestas felis id egestas semper. 
                Vestibulum vitae risus metus.</p>
            </div>
        </div>

        <div class="box div4a6 row2">
            <div>
                <img src="/assets/images/sobreNos/2.svg" alt="Image">
            </div>
        </div>

        <div class="box div3a6 row3">
            <div class="item-h1">
                <h1>Sobre nós...</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Nunc ornare, leo at condimentum sodales, odio est consectetur erat, 
                eget congue urna nibh quis elit. Nam a est molestie metus rutrum suscipit. 
                In volutpat ipsum non ipsum auctor commodo. 
                Phasellus faucibus odio imperdiet scelerisque accumsan. 
                Maecenas id augue magna. Nam nec velit vel eros tristique tristique. 
                Nam pretium tortor sed nibh commodo, quis tincidunt mauris commodo. 
                Nam facilisis pharetra malesuada. Ut et auctor odio. 
                Maecenas facilisis nunc non quam facilisis, sed tristique velit mollis. 
                Mauris auctor ipsum nec pharetra sagittis. Aliquam bibendum lorem et luctus auctor. 
                Nulla facilisi. Quisque dapibus consectetur massa nec cursus. Nunc egestas felis id egestas semper. 
                Vestibulum vitae risus metus.</p>
            </div>
        </div>


        <div class="box div1a3 row3">
            <div>
                <img src="/assets/images/sobreNos/2.svg" alt="Image">
            </div>
        </div>

        <div class="box top-left">
        </div>
        <div class="box top-center">
        </div>
        <div class="box center">
            ola
        </div>
        <div class="box center-left">
        </div>
        <div class="box center">
        </div>
        <div class="box center-right">
        </div>
        <div class="box bottom-left">
        </div>
        <div class="box bottom-center">
        </div>
        <div class="box bottom-right">
        </div>-->
    </div>
</section>