<div class="container">
    <img src="/assets/images/Homepage/comTitulo.svg" alt="Image">
    <div class="porSi">
        <p>Tratamos de tudo</p>
        <p>por si !</p>
    </div>
    <div class="textAlign">
        <p>The power</p>
        <p>of going further...</p>
    </div>
    <div class="vertical-text">
        <p>SOBRE NÓS</p>
        <span class="arrow-right"></span>
    </div>
    <div class="btnContainer">
        <button class="leftBtn">Compra</button>
        <button class="rightBtn">Venda</button>
    </div>
</div>