<div class="container">
    <img #image src="/assets/images/Homepage/comTitulo.svg" alt="Image" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <div class="porSi">
        <p>Tratamos de tudo</p>
        <p>por si !</p>
    </div>
    <div class="textAlign">
        <p>The power</p>
        <p>of going further...</p>
    </div>
    <div class="vertical-text">
        <a href="#" routerLink="/sobre-nos">SOBRE NÓS</a>
        <span class="arrow-right"></span>
    </div>
    <div class="btnContainer">
        <button class="leftBtn" routerLink="/home">Compra</button>
        <button class="rightBtn">Venda</button>
    </div>
</div>