

/*----------*/
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position:relative;
    width: 100%;
    /*width: 940px;*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
}

.container .box{
    position: relative;
    width: 100%;
    height: 520px;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
}


.container .box .item{
    position: relative;
    background: #ff0757;
    width: 100px;
    height: 80px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.top-left{
    display: grid;
    justify-items: start;
    align-items: start;
}

.top-center{
    display: grid;
    justify-items: center;
    align-items: start;
}


.top-right{
    display: grid;
    justify-items: end;
    align-items: start;
}

.center-left{
    display: grid;
    justify-items: start;
    align-items: center; 
}

.center{
    display: grid;
    justify-items: center;
    align-items: center; 
}

.center-right{
    display: grid;
    justify-items: end;
    align-items: center; 
}


.bottom-left{
    display: grid;
    justify-items: start;
    align-items: end;
}

.bottom-center{
    display: grid;
    justify-items: center;
    align-items: end;
}

.bottom-right{
    display: grid;
    justify-items: end;
    align-items: end;
}

/*-----------*/

.imageTtl{
    grid-column-start: 2;
    grid-column-end: 5; /* end at the fourth column */
    grid-row: 1;
}

.item-image{
    position: relative;
    background: #5163A5;
    width: 500px;
    height: 35%;
    display: grid;
    justify-content: center;
    align-items: top;
}

.item-image img{
    padding: 0px;
    width: 500px;
}


.div1a4{
    grid-column-start: 1;
    grid-column-end: 4; /* end at the fourth column */
    grid-row: 2;
}

.div1a3{
    grid-column-start: 1;
    grid-column-end: 3; /* end at the fourth column */
    grid-row: 2;
}

.item-h1{
    position: relative;
    display: grid;
    justify-content: start;
    align-items: center;
    padding: 5px;
}

.item-h1 p{
    margin-top: 20px;
    line-height: 30px;
}

.div4a6{
    grid-column-start: 4;
    grid-column-end: 6; /* end at the fourth column */
    grid-row: 2;
}

.div3a6{
    grid-column-start: 3;
    grid-column-end: 6; /* end at the fourth column */
    grid-row: 2;
}

.row3{
    grid-row: 3;
    display: grid;
    justify-items: end;
    align-items: start;
}

